.logo {
  font-family: "GrapeNuts";
  font-weight: 400;
  font-style: normal;
  color: #fff;

  font-size: 40px;
  padding-top: 0.1em;
}

.logo .nav-active {
  font-family: "GrapeNuts";
  font-weight: 400;
  font-style: normal;
  color: #fff;

  font-size: 40px;
  padding-top: 0.1em;
}

.nav-active {
  font-family: "Roboto-Bold", sans-serif;
  font-weight: 700;
  font-style: normal;

  /* font-size: 30px; */
  color: #fff;
}

.sticky {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1);
  background-color: #252525;
  transition: all 0.5s ease;
  animation: smoothScroll 1s forwards;
}

.sticky > .innerNavBox {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  transition: all 0.5s ease;
  animation: smoothScroll 1s forwards;
}

nav.sticky {
  height: 130px;
}
