@font-face {
  font-family: "Roboto-Thin";
  src: url("../src/assets/fonts/Roboto/Roboto-Thin.ttf");
}
@font-face {
  font-family: "Roboto-ThinItalic";
  src: url("../src/assets/fonts/Roboto/Roboto-ThinItalic.ttf");
}
@font-face {
  font-family: "Roboto-Light";
  src: url("../src/assets/fonts/Roboto/Roboto-Light.ttf");
}
@font-face {
  font-family: "Roboto-LightItalic";
  src: url("../src/assets/fonts/Roboto/Roboto-LightItalic.ttf");
}
@font-face {
  font-family: "Roboto-Regular";
  src: url("../src/assets/fonts/Roboto/Roboto-Regular.ttf");
}
@font-face {
  font-family: "Roboto-Medium";
  src: url("../src/assets/fonts/Roboto/Roboto-Medium.ttf");
}
@font-face {
  font-family: "Roboto-MediumItalic";
  src: url("../src/assets/fonts/Roboto/Roboto-MediumItalic.ttf");
}
@font-face {
  font-family: "Roboto-Bold";
  src: url("../src/assets/fonts/Roboto/Roboto-Bold.ttf");
}
@font-face {
  font-family: "Roboto-BoldItalic";
  src: url("../src/assets/fonts/Roboto/Roboto-BoldItalic.ttf");
}
@font-face {
  font-family: "Roboto-Black";
  src: url("../src/assets/fonts/Roboto/Roboto-Black.ttf");
}
@font-face {
  font-family: "Roboto-BlackItalic";
  src: url("../src/assets/fonts/Roboto/Roboto-BlackItalic.ttf");
}
@font-face {
  font-family: "Roboto-Italic";
  src: url("../src/assets/fonts/Roboto/Roboto-Italic.ttf");
}

@font-face {
  font-family: "GrapeNuts";
  src: url("../src/assets/fonts/Grape_Nuts/Grape_Nuts/GrapeNuts-Regular.ttf");
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  /* font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400; */

  font-family: "Roboto-Thin", sans-serif;
  font-weight: 100;
  font-style: normal;

  /* color-scheme: light dark; */
  /* color: rgba(255, 255, 255, 0.87); */
  /* background-color: #242424; */

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.roboto-thin {
  font-family: "Roboto-Thin", sans-serif;
  font-weight: 100;
  font-style: normal;
}

.roboto-light {
  font-family: "Roboto-Light", sans-serif;
  font-weight: 300;
  font-style: normal;
}

.roboto-regular {
  font-family: "Roboto-Regular", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.roboto-medium {
  font-family: "Roboto-Medium", sans-serif;
  font-weight: 500;
  font-style: normal;
}

.roboto-bold {
  font-family: "Roboto-Bold", sans-serif;
  font-weight: 700;
  font-style: normal;
}

.roboto-black {
  font-family: "Roboto-Black", sans-serif;
  font-weight: 900;
  font-style: normal;
}

.roboto-thin-italic {
  font-family: "Roboto-ThinItalic", sans-serif;
  font-weight: 100;
  font-style: italic;
}

.roboto-light-italic {
  font-family: "Roboto-LightItalic", sans-serif;
  font-weight: 300;
  font-style: italic;
}

/* .roboto-regular-italic {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: italic;
} */

.roboto-medium-italic {
  font-family: "Roboto-MediumItalic", sans-serif;
  font-weight: 500;
  font-style: italic;
}

.roboto-bold-italic {
  font-family: "Roboto-BoldItalic", sans-serif;
  font-weight: 700;
  font-style: italic;
}

.roboto-black-italic {
  font-family: "Roboto-BlackItalic", sans-serif;
  font-weight: 900;
  font-style: italic;
}

a {
  font-weight: 500;
  color: #646cff;
  color: #ddd;
  text-decoration: inherit;
}
/* a:hover { */
/* color: #fff; */
/* } */

body {
  position: absolute;
  margin: 0;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  /* padding: 2em; */
  /* min-height: 95vh; */
  /* border: 1px solid red; */
}

#root {
  margin: 0;
  /* border: 1px solid yellow; */
}

nav {
  /* position: sticky; */
  /* border: 1px solid red; */
  height: 150px;
}

main {
  margin: 0 auto;
  min-height: calc(100vh - 300px);
  /* border: 1px solid green; */
  /* min-height: 95vh; */
}

footer {
  position: relative;
  text-align: center;
  bottom: 0;
  width: 100%;
  height: 150px;
  margin: 0;
}

h1 {
  font-family: "Roboto-Thin";
  font-size: 3.2em;
  line-height: 2.1;
}

h2 {
  font-family: "Roboto-Thin";
  font-size: 2.2em;
  width: 100%;
  margin: 1em 0 0.5em 0;
}

h3 {
  font-family: "Roboto-Thin";
  font-size: 2.2em;
  width: 100%;
  margin: 0.5em 0 0.5em 0;
}

h4 {
  font-family: "Roboto-Thin";
  font-size: 1.5em;
  line-height: 0;
  margin: 0 0 0 0;
}

nav ul {
  display: flex;
  list-style-type: none;
  gap: 1em;
}

nav ul li {
  display: flex;

  font-family: "Roboto-Regular", sans-serif;
  font-weight: 400;
  font-style: normal;
  /* padding: 0.5em 0 0.5em 1.5em; */

  letter-spacing: 0.1em;
}

/* button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
} */

/* @media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: rgba(116, 123, 255, 0.2);
  }
  button {
    background-color: #f9f9f9;
  }
} */
